@model DoAnChuyenNganh.Models.Mau
@{
    ViewBag.Title = "Create Color";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage1.cshtml";
}

<h2 class="text-center text-primary mb-4">Thêm Màu</h2>

@using (Html.BeginForm("Create", "Color", new { area = "Admin" }, FormMethod.Post))
{
    <input type="hidden" name="role" value="user" />

    <!-- Tên danh mục -->
    <div class="form-group row justify-content-center">
        <div class="col-sm-2 text-center">
            @Html.LabelFor(model => model.MauName, "Tên màu", new { @class = "col-form-label" })
        </div>
        <div class="col-sm-6">
            @Html.TextBoxFor(model => model.MauName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MauName, "", new { @class = "text-danger" })
        </div>
    </div>

    <!-- Các nút thao tác -->
    <div class="form-group row justify-content-center">
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary btn-lg">Thêm</button>
            <a href="/admin/color" class="btn btn-danger btn-lg">Bỏ</a>
        </div>
    </div>
}
