@model List<DoAnChuyenNganh.Models.Mau>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage1.cshtml";
}

<!-- Title -->
<h2 class="text-center text-primary mb-4">Màu sản phẩm</h2>

<!-- Button Thêm Danh Mục -->
<div class="text-center mb-4">
    <a href="/admin/Color/Create" type="button" class="btn btn-success btn-lg">Thêm danh mục</a>
</div>

<!-- Table -->
<table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Màu ID</th>
            <th>Tên Màu</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MauID</td>
                <td>@item.MauName</td>
                <td>
                    <a href="/admin/Color/Update/@item.MauID" type="button" class="btn btn-warning btn-sm">Cập nhật</a>
                </td>
            </tr>
        }
    </tbody>
</table>

