
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage1.cshtml";
}

<div style="height:200px"></div>
<div style="width:auto">
    <h1 class="text-center">Chào mừng đến với trang Quản Lý</h1>
</div>

