@model List<DoAnChuyenNganh.Models.DanhMuc>
@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage1.cshtml";
}
<h2 class="text-center text-primary mb-4">Chỉnh sửa danh mục</h2>

@using (Html.BeginForm("Update", "Brand", new { area = "Admin" }, FormMethod.Post))
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="text-center">Danh mục ID</th>
                <th class="text-center">Tên danh mục</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        @Html.TextBox("brands[" + i + "].DanhMucID", Model[i].DanhMucID, new { @readonly = "readonly", @class = "form-control" })
                    </td>
                    <td>
                        @Html.TextBox("brands[" + i + "].TenDanhMuc", Model[i].TenDanhMuc, new { @class = "form-control" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Nút submit -->
<div class="form-group text-center">
    <button type="submit" class="btn btn-primary btn-lg">Lưu</button>
    <a href="/admin/brand" class="btn btn-danger btn-lg">Bỏ</a>
</div>
}
